# Dependencies
node_modules

# Build output
dist

# Env files
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing
coverage
*.lcov
.nyc_output
.vercel

# Playwright
test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
playwright-report/

# TypeScript
*.tsbuildinfo
